<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Registration</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    <style>
        #searchResults{
            background-color: white;
            margin: 0;
            padding: 0;
        }
        hr{
            margin: 0;
            padding: 0;
        }
        .cursor{
            cursor: pointer;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="inner" style="width: 60%;margin: auto;">
            <h1 class="text-center mt-5">Register Account</h1>
            
            <form method="post">
                <label for="acountEmployeeName" class="form-label">Employee Name</label>
                <input type="text" id="search" name="acountEmployeeName" class="form-control" onkeyup="sendData(this)" required>
                <ul style="z-index: 3; position: absolute;" id="searchResults" class="list-group">

                </ul>
                <label for="role" class="form-label">Select Role</label>
                <select class="form-select" aria-label="Default select example" name="employeeRole" required>
                    <!-- <option selected>Open this select menu</option> -->
                    <option value="1" selected>Admin</option>
                    <option value="2">User</option>
                </select>
                <input type="text" name="employeeId" id="employeeId" style="display: none;">
                <label for="accountUserName"  class="form-label">UserName</label>
                <input type="text" name="accountUserName" id="accountUserName" class="form-control" required>
                <label for="accountPassword"  class="form-label">Password</label>
                <input type="password" name="accountPassword" id="accountPassword" class="form-control" required>
                <button class="btn btn-primary mt-2" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script>
        function sendData(e){
            const searchResults = document.getElementById('searchResults')
            const match = e.value.match(/^[a-zA-Z]*/);
            const match2 = e.value.match(/\s*/);
            if(match2[0]=== e.value)
            {
                searchResults.innerHTML = '';
                return;
            }
            if(match[0]===e.value)
            {
                fetch('getFruits',{
                method:"POST",
                headers:{'Content-Type':'application/json'},
                body: JSON.stringify({ payload: e.value })
                }).then(res=> res.json()).then(data=>{
                    let payload = data.payload;
                    console.log(data);
                    console.log(payload);
                    searchResults.innerHTML = '';
                    if(payload.length<1)
                    {
                        searchResults.innerHTML="<li>Sorry Nothing Found</li>";
                        return;
                    }
                    payload.forEach((item,index) => {
                        if(index>0) searchResults.innerHTML += '<hr>';
                        searchResults.innerHTML += `<li class="list-group-item cursor" id= ${item._id}>${ item.employeeName}</li>`
                    });
                    const list = searchResults.querySelectorAll("li");
                    list.forEach((e)=>{
                        e.addEventListener("click",()=>{
                            document.getElementById("search").value = e.textContent;
                            document.getElementById("employeeId").value = e.getAttribute("id");
                            console.log(e);
                            searchResults.innerHTML = '';
                        })
                    })
                })
                return;
            }
        }
    </script>
</body>
</html>