<%- include('header.ejs') %>

<%- include('bodyStart.ejs') %>
        <!--Container Main start-->
        <h1>Admin Section</h1>
        
        <!--Container Main end-->

<%- include('footer.ejs') %>
