</head>
<body>
    <div id="body-pd">
        <header class="header mb-5" id="header">
            <div class="header_toggle"> 
                <i class="fas fa-bars" id="header-toggle"></i> 
            </div>
        </header>
        <!-- sidebar Section Start -->
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> 
                    <a href="#" class="nav_logo"> 
                        <i class="fas fa-home"></i>
                        <span class="nav_logo-name">It Equipment</span> 
                    </a>
                    <div class="nav_list"> 
                        <!-- <a href="/account?name=dashboard" class="nav_link active"> 
                            <i class="fas fa-home"></i>
                            <span class="nav_name">Dashboard</span> 
                        </a>  -->
                        <a href="/account?name=user" class="nav_link"> 
                            <i class="fas fa-users"></i>
                            <span class="nav_name">Users</span> 
                        </a> 
                        <a href="/account?name=product" class="nav_link"> 
                            <i class="fal fa-database"></i>
                            <span class="nav_name">Products</span> 
                        </a> 
                        <a href="/account?name=seller" class="nav_link"> 
                            <i class="fas fa-stamp"></i>
                            <span class="nav_name">Sellers</span> 
                        </a> 
                        <a href="/account?name=account" class="nav_link"> 
                            <i class="fas fa-user"></i>
                            <span class="nav_name">Accounts</span> 
                        </a> 
                    </div>
                </div> 
                <a href="/adminLogOut" class="nav_link"> 
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav_name">SignOut</span> 
                </a>
            </nav>
        </div>
        <!-- sidebar Section End -->