
        <div class="footer-padding">
            <div class="footer">
                <p>Copyright &copy; Md Sazibur Rahman</p>
            </div>
        </div>
        <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/js/admin.style.js"></script>
        <script src="/js/fontawesome/fontkit.js"></script>
    
        
    </div>
</body>
</html>