<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Seller</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/registerSeller.css">
</head>
<body>
    <h1 class="mt-5">Register Seller</h1>
    <div class="container">
        <form method="post">
            <label for="" class="form-label">Company Name</label>
            <input type="text" name="sellerOrganigationName" class="form-control" required>
            <label for=""class="form-label">Branch Name</label>
            <input type="text" name="sellerOrganigationBranch" class="form-control" required>
            <label for=""class="form-label">Product</label>
            <input type="text" name="sellerOrganigationProduct" class="form-control" required>
            <label for=""class="form-label">Product Billing Copy Id</label>
            <input type="text" name="sellerOrganigationBillingId" class="form-control" required>
            <label for=""class="form-label">Contact Number</label>
            <input type="text" name="sellerOrganigationContact" class="form-control" required>
            <button type="submit" class="mt-2 btn btn-primary">Add</button>
        </form>
    </div>

    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>